<% content_for :body_class, 'courses-index' %>
<section class="main-courses">
  <div class="normal-container">
    <h1>Dale un mejor curso <br />a tu vida!!!</h1>
    <%= form_for(:user, :html => { :id => "register-form" }) do |f| %>
      <div class="form-input">
        <%= f.collection_select(:category, Category.all, :id, :name, :include_blank => true) %>
      </div>
      <div class="form-input">
        <%= f.text_field :search, placeholder: 'Busca tu curso/diplomado o instructor' %>
        <%= image_tag("search-ico.png") %>
      </div>
    <% end %>
  </div>
</section>

<section class="courses">
  <div class="normal-container">
    <h3>¡Los más destacados!</h3>

    <div class="flex-container">

      <% @courses_starred.each do |course| %>
        <article class="course">
          <%= link_to course_path(course) do %>
          <div class="professor-hover">
            <div class="professor-hover-content">
              <figure>
                <img src="<%= course.professors.first.image_url %>" alt="">
              </figure>
              <h5><%= course.professors.first.name %></h5>
              <p class="tagline"><%= course.professors.first.minibio %></p>
            </div>
          </div>
          <div class="course-image">
            <%= image_tag(course.background_url) %>
          </div>
          <div class="course-title">
            <h4><%= course.title %></h4>
          </div>
          <div class="course-details">
            <div class="course-time">
              <i class="fa fa-clock-o" aria-hidden="true"></i>
              <span><%= course.duration %></span>
            </div>
            <div class="course-price">
              <% if course.free %>
                <span>Gratis</span>
              <% else %>
                <span>S/ <%= course.pricetag %></span>
              <% end %>
            </div>
            <div class="course-discount">
              <% if (course.discount != 0) && course.discount %>
                <span>S/ <%= sprintf('%.2f', course.discount) %></span>
              <% end %>
            </div>
          </div>
          <% end %>
        </article>
      <% end %>

    </div>

    <button>¡Comienza hoy!</button>
  </div>
</section>

<section class="courses" id="marketing-courses">
  <div class="normal-container">
    <h3>Marketing & Negocios</h3>

    <div class="flex-container">

      <% @courses_marketing.each do |course| %>
        <article class="course">
          <%= link_to course_path(course) do %>
          <div class="professor-hover">
            <div class="professor-hover-content">
              <figure>
                <img src="<%= course.professors.first.image_url %>" alt="">
              </figure>
              <h5><%= course.professors.first.name %></h5>
              <p class="tagline"><%= course.professors.first.minibio %></p>
            </div>
          </div>
          <div class="course-image">
            <%= image_tag(course.background_url) %>
          </div>
          <div class="course-title">
            <h4><%= course.title %></h4>
          </div>
          <div class="course-details">
            <div class="course-time">
              <i class="fa fa-clock-o" aria-hidden="true"></i>
              <span><%= course.duration %></span>
            </div>
            <div class="course-price">
              <% if course.free %>
                <span>Gratis</span>
              <% else %>
                <span>S/ <%= course.pricetag %></span>
              <% end %>
            </div>
            <div class="course-discount">
              <% if (course.discount != 0) && course.discount %>
                <span>S/ <%= sprintf('%.2f', course.discount) %></span>
              <% end %>
            </div>
          </div>
          <% end %>
        </article>
      <% end %>

    </div>

    <button>¡Comienza hoy!</button>
  </div>
</section>

<section class="courses" id="development-courses">
  <div class="normal-container">
    <h3>Diseño & Programación</h3>

    <div class="flex-container">

      <% @courses_development.each do |course| %>
        <article class="course">
          <%= link_to course_path(course) do %>
          <div class="professor-hover">
            <div class="professor-hover-content">
              <figure>
                <img src="<%= course.professors.first.image_url %>" alt="">
              </figure>
              <h5><%= course.professors.first.name %></h5>
              <p class="tagline"><%= course.professors.first.minibio %></p>
            </div>
          </div>
          <div class="course-image">
            <%= image_tag(course.background_url) %>
          </div>
          <div class="course-title">
            <h4><%= course.title %></h4>
          </div>
          <div class="course-details">
            <div class="course-time">
              <i class="fa fa-clock-o" aria-hidden="true"></i>
              <span><%= course.duration %></span>
            </div>
            <div class="course-price">
              <% if course.free %>
                <span>Gratis</span>
              <% else %>
                <span>S/ <%= course.pricetag %></span>
              <% end %>
            </div>
            <div class="course-discount">
              <% if (course.discount != 0) && course.discount %>
                <span>S/ <%= sprintf('%.2f', course.discount) %></span>
              <% end %>
            </div>
          </div>
          <% end %>
        </article>
      <% end %>

    </div>

    <button>¡Comienza hoy!</button>
  </div>
</section>

<section class="courses" id="personal-courses">
  <div class="normal-container">
    <h3>Idiomas & Des. Personal</h3>

    <div class="flex-container">

      <% @courses_personal.each do |course| %>
        <article class="course">
          <%= link_to course_path(course) do %>
          <div class="professor-hover">
            <div class="professor-hover-content">
              <figure>
                <img src="<%= course.professors.first.image_url %>" alt="">
              </figure>
              <h5><%= course.professors.first.name %></h5>
              <p class="tagline"><%= course.professors.first.minibio %></p>
            </div>
          </div>
          <div class="course-image">
            <%= image_tag(course.background_url) %>
          </div>
          <div class="course-title">
            <h4><%= course.title %></h4>
          </div>
          <div class="course-details">
            <div class="course-time">
              <i class="fa fa-clock-o" aria-hidden="true"></i>
              <span><%= course.duration %></span>
            </div>
            <div class="course-price">
              <% if course.free %>
                <span>Gratis</span>
              <% else %>
                <span>S/ <%= course.pricetag %></span>
              <% end %>
            </div>
            <div class="course-discount">
              <% if (course.discount != 0) && course.discount %>
                <span>S/ <%= sprintf('%.2f', course.discount) %></span>
              <% end %>
            </div>
          </div>
          <% end %>
        </article>
      <% end %>

    </div>

    <button>¡Comienza hoy!</button>
  </div>
</section>

<section class="experts">
  <h3>¡Ellos son los expertos!</h3>
  <div class="normal-container">
    <div id="owl-demo">
      <article class="item">
        <figure>
          <%= image_tag("professor.jpg") %>
        </figure>
        <h5>Nombre del profesor</h5>
        <p class="tagline">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </article>
      <article class="item">
        <figure>
          <%= image_tag("professor.jpg") %>
        </figure>
        <h5>Nombre del profesor</h5>
        <p class="tagline">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </article>
      <article class="item">
        <figure>
          <%= image_tag("professor.jpg") %>
        </figure>
        <h5>Nombre del profesor</h5>
        <p class="tagline">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </article>
      <article class="item">
        <figure>
          <%= image_tag("professor.jpg") %>
        </figure>
        <h5>Nombre del profesor</h5>
        <p class="tagline">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </article>
      <article class="item">
        <figure>
          <%= image_tag("professor.jpg") %>
        </figure>
        <h5>Nombre del profesor</h5>
        <p class="tagline">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </article>
      <article class="item">
        <figure>
          <%= image_tag("professor.jpg") %>
        </figure>
        <h5>Nombre del profesor</h5>
        <p class="tagline">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </article>
    </div>

    <a class="prev">
      <%= image_tag("arrow-left.png") %>
    </a>
    <a class="next">
      <%= image_tag("arrow-right.png") %>
    </a>
  </div>
</section>