<% content_for :body_class, 'courses-show' %>
<section class="main-course">
  <div class="main-info">
    <div class="title">
      <h1><%= @course.title %></h1>
      <p>Por:
        <% @course.professors.each_with_index do |professor, index| %>
          <% if index > 0 %>
            <span>, </span>
          <% end %>
          <span><%= professor.name %></span>
        <% end %>
      </p>
    </div><!--
    --><div class="sales">
      <p>Puedes acceder a este curso con Tarjeta (crédito o débito), Depósito (agente BCP) y Puntos</p>
      <button>¡Quiero este curso!</button>
    </div>
  </div>

  <div class="video-info">
    <div class="video-container">
    <div class="video-wrapper">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @course.video_url %>" frameborder="0" allowfullscreen></iframe>
    </div></div><!--
    --><div class="side-info">
      <h4>Información</h4>
      <ul>
        <li>
          <i class="fa fa-play-circle-o"></i>
          <span><%= @course.classes %> clases</span>
        </li>
        <li>
          <i class="fa fa-clock-o"></i>
          <span><%= @course.duration %></span>
        </li>
        <li>
          <i class="fa fa-circle"></i>
          <span>Nivel: <%= @course.level %></span>
        </li>
        <li>
          <i class="fa fa-download"></i>
          <span>0 archivos adjuntos</span>
        </li>
        <li>
          <span class="tiny-text">Publicado el <%= @course.created_at.to_time.strftime("%m/%d/%Y") %></span>
        </li>
      </ul>
      <% if course.professors.first %>
      <h4>Instructor</h4>
      <article class="professor-card">
        <figure>
          <img src="<%= @course.professors.first.image_url %>" alt="">
        </figure><!--
        --><div class="professor-info">
          <h5><%= @course.professors.first.name %></h5>
          <p><%= @course.professors.first.minibio %></p>
        </div>
      </article>
      <% end %>
    </div>
  </div>
</section>

<section class="info-course">
  <div class="info-course-container">
  <h3>Sobre el curso:</h3>

  <div class="info-section">
    <h5>Descripción del curso</h5>
    <p><%= @course.description %></p>
  </div>

  <div class="info-section">
    <h5>¿Qué vas a lograr con este curso?</h5>
    <p><%= @course.goal %></p>
  </div>

  <div class="info-section">

    <h5>Programa del curso</h5>

    <% @course.parts.order(number: :asc).each do |part| %>
    <h6>MÓDULO <%= part.number %>: <%= part.title %></h6>
    <ul>
      <% part.topics.order(number: :asc).each do |topic| %>
      <li>
        <i class="fa fa-lock"></i>
        <span><%= topic.title %></span>
        <em><%= topic.duration %></em>
      </li>
      <% end %>
    </ul>
    <% end %>
  </div>

  <div class="info-section">
    <h5>Certificado</h5>
    <p><%= @course.certificate_info %></p>
  </div>

  <div class="info-section">
    <% if @course.professors.count == 1 %>
      <h3>Sobre el instructor:</h3>
    <% else %>
      <h3>Sobre los instructores:</h3>
    <% end %>
    <% @course.professors.each do |professor| %>
    <article class="professor-card">
      <figure>
        <img src="<%= professor.image_url %>" alt="">
      </figure><!--
      --><div class="professor-info">
        <h5><%= professor.name %></h5>
        <p><%= professor.bio %></p>
      </div>
    </article>
    <% end %>
  </div>
  </div>
</section>