<% content_for :body_class, 'public-home' %>
<section class="main-home">
	<div class="overlay"></div>
  <div class="video-wrapper-home">
    <%= video_tag "video.mp4", :autoplay => true, :loop => true, :class => 'video-playing autoplay' %>
  </div>
  <%= image_tag("home-background.jpg", class: "responsive-background") %>
  <div class="main-title">
    <div class="title">
      <h2>Cursos Online para...</h2>
      <div id="typed-strings">
        <p>Impulsar tu carrera</p>
        <p>Aprender a tu propio ritmo</p>
        <p>Ganar más dinero</p>
        <p>Empoderar tu talento</p>
        <p>Emprender un negocio</p>
        <p>Desarrollar una habilidad</p>
      </div>
      <span id="typed"></span>
    </div>
    <%= link_to "/registro" do %>
      <button class="button-alternative">¡Comienza hoy!</button>
    <% end %>
  </div>
</section>

<section class="courses">
  <div class="normal-container">
    <h3>¡Estos cursos son especialmente para ti!</h3>
    <p class="tagline">Puedes acceder a este curso con Tarjeta (crédito o débito) y Depósito (Agente BCP).</p>

    <div class="flex-container">

      <% @courses.each do |course| %>
        <article class="course">
          <%= link_to course_path(course) do %>
          <% if course.professors.first %>
          <div class="professor-hover">
            <div class="professor-hover-content">
              <figure>
                <img src="<%= course.professors.first.image_url %>" alt="">
              </figure>
              <h5><%= course.professors.first.name %></h5>
              <p class="tagline"><%= course.professors.first.minibio %></p>
            </div>
          </div>
          <% end %>
          <div class="course-image">
            <%= image_tag(course.background_url) %>
          </div>
          <div class="course-title">
            <h4><%= course.title %></h4>
          </div>
          <div class="course-details">
            <div class="course-time">
              <i class="fa fa-clock-o" aria-hidden="true"></i>
              <span><%= course.duration %></span>
            </div>
            <div class="course-price">
              <% if course.free %>
                <span>Gratis</span>
              <% else %>
                <span>S/ <%= course.pricetag.round %></span>
              <% end %>
            </div>
            <div class="course-discount">
              <% if (course.discount != 0) && course.discount %>
                <span>S/ <%= course.discount.round %></span>
              <% end %>
            </div>
          </div>
          <% end %>
        </article>
      <% end %>
    </div>
  </div>

  <%= link_to "/cursos" do %>
  <button>Más cursos...</button>
  <% end %>
</section>

<section class="mission">
  <!-- Overlay -->
  <p>"Somos una plataforma educativa online, con el  propósito de contribuir <br/>en tu desarrollo personal y profesional"</p>
</section>

<section class="why">
  <h3>¿Por qué estudiar en Universyty?</h3>

  <div class="normal-container flex-container">
    <article class="reason">
      <%= image_tag("reasons/experto.png") %>
      <h4>Expertos</h4>
      <p>Aprenderás de los mejores profesionales y especialistas</p>
    </article>
    <article class="reason">
      <%= image_tag("reasons/libertad.png") %>
      <h4>Libertad</h4>
      <p>Aprende a tu propio ritmo, <br/>desde cualquier lugar y dispositivo</p>
    </article>
    <article class="reason">
      <%= image_tag("reasons/plataforma.png") %>
      <h4>Plataforma</h4>
      <p>Clases 100% online, <br />con acceso las 24 horas del día</p>
    </article>
    <article class="reason">
      <%= image_tag("reasons/ahorro.png") %>
      <h4>Ahorro</h4>
      <p>¡Ahorra tiempo y dinero! <br />Sin horarios, ni desplazamientos</p>
    </article>
    <article class="reason">
      <%= image_tag("reasons/certificado.png") %>
      <h4>Certificado</h4>
      <p>Por cada curso concluido <br />obtendrás un certificado</p>
    </article>
    <article class="reason">
      <%= image_tag("reasons/ganar.png") %>
      <h4>Gana</h4>
      <p>Ganarás dinero en efectivo <br />invitando a tus amigos</p>
    </article>
  </div>
</section>

<section class="wrapper-info" >
  <div class="container ">
    <div class="tutorials">
      <div class="title-icon">
        <h3>
          <i class="fa fa-play-circle-o"></i> Tutoriales
        </h3>
      </div>
      <div class="tutorial display-inline">
        <a href="javascript:void(0);"  class="btn-video-js" title="¿Cómo me registro en Universyty?" data-idvideo="49arsY1oDG4" data-type="youtube">
          <%= image_tag('tutos/video_1.png') %>
          <span class="cover align_center">
            <span class="helper"></span><!--
            --><span class="play display-inline">
              <i class="fa fa-play display-inline"></i><!--
              --><span class="helper"></span>
            </span>
          </span>
        </a>
        <h4>¿Cómo me registro <br> a Universyty?</h4>
      </div><!--
      --><div class="tutorial display-inline">
        <a href="javascript:void(0);" class="btn-video-js" title="¿Cómo compro un curso en Universyty?" data-idvideo="yZ5CedqXCAM" data-type="youtube">
          <%= image_tag('tutos/video_2.png') %>
          <span class="cover align_center">
            <span class="helper"></span><!--
            --><span class="play display-inline">
              <i class="fa fa-play display-inline"></i><!--
              --><span class="helper"></span>
            </span>
          </span>
        </a>
        <h4>¿Cómo compro un <br> curso en Universyty?</h4>
      </div><!--
      --><div class="tutorial display-inline">
        <a href="javascript:void(0);" class="btn-video-js" title="¿Cómo ser instructor de Universyty?" data-idvideo="q49mjAyGl-E" data-type="youtube">
          <%= image_tag('tutos/video_3.png') %>
          <span class="cover align_center">
            <span class="helper"></span><!--
            --><span class="play display-inline">
              <i class="fa fa-play display-inline"></i><!--
              --><span class="helper"></span>
            </span>
          </span>
        </a>
        <h4>¿Cómo ser instructor <br> de Universyty?</h4>
      </div><!--
      --><div class="tutorial display-inline">
        <a href="javascript:void(0);" class="btn-video-js" title="¿Cómo ganar dinero en Universyty?" data-idvideo="fRn-zX1hBy0" data-type="youtube">
          <%= image_tag('tutos/video_4.png') %>
          <span class="cover align_center">
            <span class="helper"></span><!--
            --><span class="play display-inline">
              <i class="fa fa-play display-inline"></i><!--
              --><span class="helper"></span>
            </span>
          </span>
        </a>
        <h4>¿Cómo ganar dinero <br> en Universyty?</h4>
      </div>
    </div>
  </div>
</section>

<section class="motivation">
  <p><strong>No dejes</strong> de lado lo más importante Aprende a <strong>tu propio ritmo</strong> <br />Aprende <strong>sin límites</strong></p>
  <%= link_to "/registro" do %>
    <button>¡Comienza hoy!</button>
  <% end %>
</section>

<!-- OVERLAY PARA TUTORIALES -->
<div class="tutorial-overlay overlay-js align_center">
  <div class="helper"></div><!--
  --><div class="popup-video display-inline">
    <svg version="1.1" id="loader-1" class="loading" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
    <path opacity="0.2" fill="#fff" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"></path>
    <path fill="#fff" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0C22.32,8.481,24.301,9.057,26.013,10.047z" transform="rotate(9.01416 20 20)">
    <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 20 20" to="360 20 20" dur="0.5s" repeatCount="indefinite"></animateTransform>
    </path>
    </svg>
    <a href="javascript:void(0)" class="btn-close btn-close-js">
      <div class="helper"></div><!-- 
      --><i class="fa fa-times"></i>
    </a>
    <div class="popup-video-container">
    </div>
  </div>
</div>
<!-- FIN OVERLY PARA TUTORIALES -->