<% content_for :body_class, 'public-instructor' %>
<section class="main-home">
  <div class="main-title">
    <div class="title">
      <h2>Comparte con el mundo</h2>
      <div id="typed-strings">
        <p>tu pasión</p>
        <p>tu talento</p>
        <p>tus habilidades</p>
        <p>tus conocimientos</p>
        <p>tus experiencias</p>
      </div>
      <span id="typed"></span>
    </div>
  </div>
</section>

<section class="steps">
  <div class="normal-container">
    <h3>¡Sé uno de nuestros expertos!</h3>
    <p class="tagline">No existen límites, ¡Es gratis! sólo tienes que ser un experto en el tema <br />que vas a enseñar, y seguir los siguientes pasos:</p>

    <div class="flex-container">
      <article class="step">
        <%= image_tag("instructor/steps/create.png") %>
        <h4>CREA UN CURSO</h4>
        <p>Graba tus clases en pequeños videos,<br />cuidando el sonido y la calidad.<br />Puedes enseñar lo que quieras, <br />sin importar la categoría.<br />Duración mínima del curso: 60 min.</p>
      </article>
      <article class="step">
        <%= image_tag("instructor/steps/pricetag.png") %>
        <h4>FIJA EL PRECIO</h4>
        <p>Porque sólo tú conoces el valor<br />de tus clases, establece un<br />precio justo a tu curso creado.<br />Tienes la posibilidad de cambiar<br />el precio cuando así lo desees.</p>
      </article>
      <article class="step">
        <%= image_tag("instructor/steps/money.png") %>
        <h4>GANA DINERO</h4>
        <p>Nosotros nos encargaremos de<br />vender tu curso, y por cada venta<br />tú ganarás el 50%. También te ofrecemos<br />la posibilidad de grabar tu curso en nuestro<br />set de grabación y ganar el 30%.</p>
      </article>
    </div>
  </div>
</section>

<section class="instructor-advantages">
  <div class="normal-container">
    <h3>¡Inicia tu Centro de Negocios con nosotros!</h3>
    <p class="tagline">Mira los beneficios que tenemos para ti:</p>

    <ul class="advantages">
      <li>
        <%= image_tag("instructor/advantages/brand.png") %>
        <div class="advantage">
          <h5>Fortalece tu marca personal</h5>
          <p>Te posicionarás como especialista en una o más temáticas, validando tu nombre <br />dentro de la industria internacional; y acudirán a ti para cualquier consulta o asesoría.</p>
        </div>
      </li>
      <li>
        <%= image_tag("instructor/advantages/sales.png") %>
        <div class="advantage">
          <h5>Ventas 24/7</h5>
          <p>Tu curso online se venderá las 24 horas del día y los 7 días de la semana, sin importar <br />la hora o el lugar.</p>
        </div>
      </li>
      <li>
        <%= image_tag("instructor/advantages/international.png") %>
        <div class="advantage">
          <h5>Ventas Internacionales</h5>
          <p>Gracias a internet, es posible llegar a alumnos/usuarios desde cualquier parte del mundo <br />sin mayor dificultad. Además, tus alumnos pueden aprender a su propio ritmo.</p>
        </div>
      </li>
      <li>
        <%= image_tag("instructor/advantages/incomes.png") %>
        <div class="advantage">
          <h5>Ingresos ilimitados</h5>
          <p>Trabaja una sola vez en la elaboración de tu curso online, y tu curso se podrá disfrutar <br />ilimitadamente por los alumnos. Sólo enfócate en ofrecer información de calidad.</p>
        </div>
      </li>
      <li>
        <%= image_tag("instructor/advantages/invest.png") %>
        <div class="advantage">
          <h5>Inversión cero</h5>
          <p>¡Es gratis! Nosotros nos encargaremos de todos los gastos administrativos, tecnológicos, <br />marketing y certificación. Recuerda que también te ofrecemos nuestro set de grabación.</p>
        </div>
        <li>
          <%= image_tag("instructor/advantages/certificate.png") %>
          <div class="advantage">
            <h5>Certificación</h5>
            <p>Los estudiantes que aprueben satisfactoriamente tu curso podrán obtener certificado a <br />nombre de Universyty  y/o a nombre de tu empresa (opcional).</p>
          </div>
        </li>
      </li>
    </ul>
  </div>
</section>

<section class="experts">
  <h3>¡Ellos son los expertos!</h3>
  <div class="normal-container">
    <div id="owl-demo">
      <article class="item">
        <figure>
          <%= image_tag("professor.jpg") %>
        </figure>
        <h5>Nombre del profesor</h5>
        <p class="tagline">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </article>
      <article class="item">
        <figure>
          <%= image_tag("professor.jpg") %>
        </figure>
        <h5>Nombre del profesor</h5>
        <p class="tagline">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </article>
      <article class="item">
        <figure>
          <%= image_tag("professor.jpg") %>
        </figure>
        <h5>Nombre del profesor</h5>
        <p class="tagline">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </article>
      <article class="item">
        <figure>
          <%= image_tag("professor.jpg") %>
        </figure>
        <h5>Nombre del profesor</h5>
        <p class="tagline">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </article>
      <article class="item">
        <figure>
          <%= image_tag("professor.jpg") %>
        </figure>
        <h5>Nombre del profesor</h5>
        <p class="tagline">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </article>
      <article class="item">
        <figure>
          <%= image_tag("professor.jpg") %>
        </figure>
        <h5>Nombre del profesor</h5>
        <p class="tagline">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </article>
    </div>

    <a class="prev">
      <%= image_tag("arrow-left.png") %>
    </a>
    <a class="next">
      <%= image_tag("arrow-right.png") %>
    </a>
  </div>
</section>

<section class="request">
  <div class="absolute-container">
    <div class="message">
      <p><strong>¡Comparte tus conocimientos!</strong> <br />Conviértete en uno de nuestros <strong>expertos</strong></p>
      <h2>¿Te atreves?</h2>
    </div>
    <button>Descargar solicitud de instructor</button>
    <span>Contacto especializado al: 987654321</span>
  </div>
</section>