<% content_for :body_class, 'public-money' %>

<section class="main-money">
  <h1>Sé un Embajador <br />de la marca Universyty <br />y <strong>GANA DINERO</strong></h1>
</section>

<section class="plans">
  <h3>Beneficios del Embajador</h3>
  <article class="plan">
    <h4>Plan Embajador</h4>
    <div class="price">
      <span class="price-currency">S/.</span>
      <span class="price-int">29</span>
      <div class="aside-price">
        <span class="price-decimal">.00</span>
        <span class="price-text">al mes</span>
      </div>
    </div>
  </article>
  <ul class="advantages">
    <li>
      <%= image_tag("advantages/discounts.png") %>
      <div class="advantage">
        <h5>Descuentos</h5>
        <p>Obtendrás el 30% por la compra de cualquier curso.</p>
      </div>
    </li>
    <li>
      <%= image_tag("advantages/certificate.png") %>
      <div class="advantage">
        <h5>Certificados Gratis</h5>
        <p>Todos nuestros cursos tienen certificación (formato PDF) y su precio es S/. 20. Si eres Embajador tus certificados serán gratis y de forma ilimitada.</p>
      </div>
    </li>
    <li>
      <%= image_tag("advantages/money.png") %>
      <div class="advantage">
        <h5>Gana Dinero</h5>
        <p>Invita a  class="advantage"todos tus amigos a registrarse, si compran un curso ganarás el 30% y si deciden ser Embajadores ganarás S/. 10.</p>
      </div>
    </li>
    <li>
      <%= image_tag("advantages/money-2.png") %>
      <div class="advantage">
        <h5>Gana Regalías</h5>
        <p>Siempre ganarás el 30% por la compra de cursos de tus invitados; y ganarás S/. 1 hasta la 5º generación cuando tu equipo de Embajadores pague su mensualidad.</p>
      </div>
    </li>
    <li>
      <%= image_tag("advantages/mobile.png") %>
      <div class="advantage">
        <h5>Oficina Virtual</h5>
        <p>Aquí podrás administrar todas tus finanzas (saldo disponible, ingresos, retiros, transferencias, etc).</p>
      </div>
    </li>
  </ul>
</section>

<section class="steps">
  <div class="normal-container">
    <h3>¡Sé uno de nuestros embajadores!</h3>
    <p class="tagline">Sólo tienes que recomendar nuestros cursos y seguir los siguientes pasos:</p>

    <div class="flex-container">
      <article class="step">
        <span class="number">1</span>
        <%= image_tag("money/register.png") %>
        <h4>REGÍSTRATE</h4>
        <p>Compra tu Plan Embajador <br/>eligiendo cualquier medio de pago. <br />Precio: S/. 29</p>
      </article>
      <article class="step">
        <span class="number">2</span>
        <%= image_tag("money/share.png") %>
        <h4>RECOMIENDA</h4>
        <p>Invita a tus amigos a registrarse <br />y ser parte de esta familia.</p>
      </article>
      <article class="step">
        <span class="number">3</span>
        <%= image_tag("money/win.png") %>
        <h4>GANA</h4>
        <p>Gana dinero cuando tus <br />invitados compren cursos y/o <br />se conviertan en embajadores.</p>
      </article>
    </div>
  </div>
</section>

<section class="money-motivation">
  <p>"Wit University<br /> significa una oportunidad para<br /> tu desarrollo personal, profesional y económico"</p>
  <button class="button-alternative">¡Quiero ser embajador!</button>
</section>

<section class="compensations">
  <div class="normal-container">
    <h3>Plan de Compensación</h3>
    <div class="flex-container">
      <article class="compensation">
        <%= image_tag("money/bono-sale.png") %>
        <h4>BONO DE VENTA</h4>
        <p>Gana 30% por cada curso <br />que vendas. Ganar dinero <br />en internet es real con Wit U.</p>
      </article>
      <article class="compensation">
        <%= image_tag("money/bono-friend.png") %>
        <h4>BONO DE AMIGO</h4>
        <p>Gana S/. 50 por cada amigo <br />que invites a registrarse <br />con el Plan Embajador.</p>
      </article>
      <article class="compensation">
        <%= image_tag("money/bono-beca.png") %>
        <h4>BONO DE BECA</h4>
        <p>Gana una beca completa cuando logres invitar a 3 amigos, y olvídate de pagar mensualidades.</p>
      </article>
      <article class="compensation">
        <%= image_tag("money/bono-regalias.png") %>
        <h4>BONO DE REGALÍAS</h4>
        <p>Gana S/. 10 por cada embajador que pague su mensualidad. Ganancia hasta la 5ta generación.</p>
      </article>
    </div>
  </div>
</section>

<section class="money-motivation-2">
  <div class="message">
    <p>...Te invito a un <strong>viaje</strong> donde solo se vale <strong>cumplir sueños</strong></p>
    <h2>¿Te atreves?</h2>
  </div>
  <button>¡Sí, quiero!</button>
</section>