<section class="main-register">
  <div class="form-container">
    <h2>¡Tu vida cambiará<br /> a partir de este momento!</h2>
    <%= form_for(:user, :html => { :id => "register-form" }) do |f| %>
      <%= f.hidden_field :role_id, value: 2 %>
      <!--<div class="form-input radios">
        <div class="radio-container">
          <%= f.radio_button :instructor, false, :checked => true, :id => 'js-alumno' %>
          <%= f.label :instructor, "Alumno", :value => "false" %>
        </div>
        <div class="radio-container">
          <%= f.radio_button :instructor, true, :id => 'js-instructor' %>
          <%= f.label :instructor, "Instructor", :value => "true"  %>
        </div>
      </div>-->
      <div class="form-input">
        <figure><%= image_tag("inputs/name.png") %></figure><!--
        --><%= f.text_field :fullname, placeholder: 'Nombres y Apellidos' %>
      </div>
      <div class="form-input">
        <figure><%= image_tag("inputs/email.png") %></figure><!--
        --><%= f.email_field :email, placeholder: 'Email' %>
      </div>
      <div class="form-input">
        <figure><%= image_tag("inputs/user.png") %></figure><!--
        --><%= f.text_field :nickname, placeholder: 'Usuario (minúscula)', maxlength: 15 %>
      </div>
      <div class="form-input">
        <figure><%= image_tag("inputs/password.png") %></figure><!--
        --><%= f.password_field :password, placeholder: 'Contraseña' %>
      </div>
      <div class="form-input">
        <figure><%= image_tag("inputs/district.png") %></figure><!--
        --><%= f.text_field(:city, placeholder: 'Ciudad / Pais') %>
      </div>
      <div class="form-input" id="js-sponsor">
        <figure><%= image_tag("inputs/referral.png") %></figure><!--
        --><%= f.text_field(:sponsor, placeholder: 'Invitado por', :value => @data) %>
      </div>
      <%= f.submit '¡REGISTRARME!' %>
    <% end %>
    <p class="conditions">Al darle clic estás de acuerdo con todos los <br /><a href="https://drive.google.com/file/d/0BxuTJyS9NYwfa0tobEwzdGFUTWc/view?usp=sharing" target="_blank">Términos y Condiciones</a></p>
  </div>
</section>